body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000 !important;
  background: #fff;
}

.active {
  background: linear-gradient(
    180deg,
    rgba(0, 176, 28, 0.2) 24.48%,
    rgba(255, 255, 255, 0) 100%
  );
}

.app-container {
  margin: 0 auto;
  padding-top: 115px;
  width: 1150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 85px;
}

.intro-text {
  width: 70%;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.error-message {
  height: 49px;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  line-height: 49px;
}

.search-btn {
  width: 290px;
  height: 60px;
  font-size: 30px;
  line-height: 35px;
  background: #0094ff;
  border-radius: 10px;
  cursor: pointer;
}

.search-btn:hover {
  background: #fff;
}

.js-img-from-api {
  width: auto;
  max-width: 500px;
  border-radius: 10px;
}

.input-data,
.output-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-input-wrapper {
  width: 440px;
  height: 60px;
  border-bottom: 2px solid #0094ff;
}

.title-input {
  padding-left: 15px;
  width: 100%;
  border: none;
  background: none;
  font-size: 30px;
  line-height: 60px;
  color: #3a3939;
  overflow: hidden;
}

.title-input:focus {
  outline: none;
}

.title-input::placeholder {
  font-size: 30px;
  line-height: 35px;
  color: #3a3939;
  opacity: 0.5;
}

.external-link {
  font-size: 40px;
  font-style: normal;
  color: #0094ff !important;
}

.border-red {
  width: 95%;
  padding-left: 5px;
  border: 2px dotted #ad1818;
  border-radius: 8px;
}

.movie-card__mini {
  margin-bottom: 28px;
  padding: 41px 33px 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 65px;
  cursor: pointer;
}

.movie-card__mini:hover {
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.286);
}

.movie-poster__wrapper {
  width: 100px;
  height: 148px;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.movie-info {
  text-align: left;
  height: 148px;
}

.movie-title {
  margin-bottom: 7px;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
}

.movie-year {
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 30px;
  color: #0094ff;
}

.movie-type {
  font-size: 30px;
  line-height: 36px;
}
