body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-weight: 400;
  background: #181818;
  color: #f3f6f9 !important;
}

/* .active {
  background: linear-gradient(
    180deg,
    rgba(0, 176, 28, 0.2) 24.48%,
    rgba(255, 255, 255, 0) 100%
  );
} */

.container {
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 85px;
  width: 930px;
  height: 100%;
  border-radius: 20px;
  background: #232323;
}

.container p {
  font-size: 30px;
  line-height: 35px;
}

.intro-text {
  margin: 0 auto 45px;
  padding-top: 50px;
  width: 930px;
  text-align: center;
  font-weight: 700;
  font-size: 90px;
  line-height: 88px;
  letter-spacing: -0.6px;
  width: 70%;
}

.error__message {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 70%;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
}

.search-btn {
  width: 62px;
  height: 62px;
  cursor: pointer;
  background-color: unset;
  background-image: url(/icons/arrow-right-icon.png);
  border-radius: 100px;
  background-size: contain;
  border: none;
}

.search-btn:hover {
  border: 1px solid #0094ff;
}

.js-img-from-api {
  width: auto;
  max-width: 500px;
  border-radius: 10px;
}

.input-data,
.output-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-input-wrapper {
  width: 440px;
  height: 60px;
  border-bottom: 2px solid #0094ff;
}

.title-input {
  padding-left: 15px;
  width: 100%;
  border: none;
  background: none;
  font-size: 30px;
  line-height: 60px;
  color: #f3f6f9;
  overflow: hidden;
}

.title-input:focus {
  outline: none;
}

.title-input::placeholder {
  font-size: 30px;
  line-height: 35px;
  color: rgba(243, 246, 249, 0.5);
}

.external-link {
  font-size: 40px;
  font-style: normal;
  color: #0094ff !important;
}

.border-red {
  width: 95%;
  padding-left: 5px;
  border: 2px dotted #ad1818;
  border-radius: 8px;
}

.movie-list {
  text-align: left;
  background: #232323;
  border-radius: 20px;
  height: 100%;
}

.movie__card-mini {
  margin-bottom: 28px;
  padding: 41px 33px 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 65px;
  cursor: pointer;
}

.movie__card-mini:hover {
  border-radius: 35px;
  background: rgb(87, 83, 83);
}

.movie__poster-wrapper {
  width: 100px;
  height: 148px;
  border-radius: 7px;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.movie-info {
  text-align: left;
  height: 148px;
}

.movie-title {
  margin-bottom: 7px;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
}

.movie-year {
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 30px;
  color: #0094ff;
}

.movie-type {
  font-size: 30px;
  line-height: 36px;
}
