.movie__card-wrapper {
  margin: 0 auto;
  padding-top: 60px;
  display: block;
  width: 1150px;
}

.movie__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 90px;
}

.back2search-btn {
  margin-bottom: 125px;
  width: 358px;
  height: 48px;
}

.big {
  width: 300px !important;
  height: 372px !important;
}

.movie-info h2 {
  margin-bottom: 33px;
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}

.descriptor {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.descriptor:last-child {
  margin-bottom: 77px;
}
