.movie__card-wrapper {
  margin: 0 auto;
  width: 1150px;
  border: 0.5px solid #0094ff;
  border-radius: 35px;
  color: rgba(243, 246, 249, 1);
  background: rgba(217, 217, 217, 0.8);
}

.movie__card-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.movie__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  width: 65%;
  overflow: hidden;
}

.backward__btn {
  display: block;
  margin: 30px auto 45px;
  width: 358px;
  height: 48px;
  font-size: 40px;
  line-height: 42px;
  color: #0094ff;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.backward__btn:hover {
  border: 1px solid rgba(243, 246, 249, 1);
  border-radius: 20px;
}

.poster__wrapper {
  width: 30%;
  height: 379px;
}

.movie__title {
  padding-top: 10px;
  margin-bottom: 33px;

  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: underline;
}

.descriptor {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.higlighted {
  width: 90%;
  font-size: 30px;
  line-height: 36px;
  color: #0094ff;
  cursor: pointer;
}

.movie__plot {
  margin: 0 auto 10px;
  padding-top: 33px;
  width: 900px;
  text-align: center;
}
