.movie__card-wrapper {
  margin: 0 auto;
  padding-top: 60px;
  display: block;
  width: 1150px;
}

.movie__card {
  width: 100%;
  display: flex;

  justify-content: center;
  gap: 90px;
}

.movie__info {
  width: 65%;
}

.backward__btn {
  display: block;
  margin-bottom: 125px;
  width: 358px;
  height: 48px;
  font-size: 40px;
  line-height: 48px;
  color: #000;
  text-decoration: none;
}

.backward__btn:hover {
  color: #0094ff;
  text-decoration: dashed;
}

.poster__wrapper {
  width: 30%;
  height: 379px;
}

.movie__title {
  margin-bottom: 33px;
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
}

.descriptor {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.descriptor:last-child {
  margin-bottom: 77px;
}

.higlighted {
  font-size: 30px;
  line-height: 36px;
  color: #0094ff;
}
